.banner-interno__fondo
  background-image: url(../assets/curso/interno.png) !important
.etiqueta
  padding: 1px 2px 2px 3px
  font-weight: 800
  margin-right: 0px
italic
  font-style: oblique  
italic-strong
  font-style: oblique 
  font-weight: bold


.bg-secundario
  background-color: #FDD835
.bg-color-primario2
  background-color: #FFD1A2
.bg-acento-botones
  background-color: #B1F9FF 
.bg-suave
  background-color: #FFF3BF
.bg-suave2
  background-color: #FFF9DF  
.bg-acento-contenido2
  background-color: #FFAC57

.bloque-fondo-intro
  background-image: url(../assets/curso/fondo-intro.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom 
.bg-elemento
  background-image: url(../assets/curso/bg-elemento.png)
  background-repeat: no-repeat
  background-size: 100% 75%
  background-position: bottom 